<main class="greetings-container">
  <h1>Greetings in Different Languages</h1>
  <section>
    <div>
      <strong>Language</strong>
      <span class="language"><%= @random_greeting.language %></span>
    </div>
    <div>
      <strong>Phrase</strong>
      <span class="phrase">"<%= @random_greeting.phrase %>"</span>
    </div>
  </section>
</main>